* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: 0.2s;
}
ul {
        list-style: none;
}
body {
        display: flex;
        flex-direction: column;
}
/* the header, close and minimize buttons. */

header {
        position: fixed;
        top: 0; left: 0;
        height: 30px; width: 100%;
        z-index: 99;
        -webkit-app-region: drag;
}

.options {
        position: fixed;
        right: 0; top: 0;
        display: flex;
        -webkit-app-region: no-drag;
}
.options > div {
        text-align: center;
        width: 50px; height: 30px;
        line-height: 30px;
        background-color: none;
        transition: 0.2s;
}
.options > div:hover {
        background-color: #FF7043;
}

/* the main view below the top bar. */
/* 
palette:
FF8A65 light red
607D8B blue grey dark
90A4AE blue grey medium
CFD8DC blue grey light
212121 darker grey
757575 dark grey
F5F5F5 light grey

*/
main {
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        background-color: rgb(212, 216, 219);
        z-index: 1;
}

/* main structure of the page */
/* side bar of lists */
.todo-sidebar {
        padding-top: 30px;
        position: fixed;
        left: 0; top: 0;
        width: 200px; height: 100%;
        min-width: 200px;
        background-color: rgb(127, 152, 165);
}

.list-names {
        text-decoration: none;
        list-style: none;
}
.list-container {
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        text-align: left;
        vertical-align: middle;
}
.list-name {
        height: 40px; width: 160px;
        line-height: 40px;
        padding-left: 10px;
        text-align: left;
        vertical-align: middle;
        display: inline-block;
}
.list-btn {
        width: 30px; height: 40px;
        display: inline-block;
        flex-basis: 40px;
        text-align: center;
        transition: 0.3s;
        position: relative;
        right: -30px;
}

.list-container:hover {
        background-color: rgb(136, 190, 214);
}
.list-container:hover > .list-btn {
        right: 0;
}

.chosen-list {
        background-color: rgb(66, 124, 153);
}

.list-add {}

/* main list content */
.todo-main {
        position: absolute;
        top: 0; left: 200px;
        width: calc(100% - 200px);
        background-color: #F1F1F1;
        display: flex;
        flex-direction: column;
}

.todo-main-bg {
        height: 200px;
        background-image: url('./img/todo-bg.jpg');
        background-position: -50px;
}

.todo-main-items {
        
}

.items {
        text-decoration: none;
        list-style: none;
}
.item-container {
        display: flex;
        height: 50px;
        width: calc(100%);
}
.item {
        outline: none;
        border: none;
        font-size: 1rem;
        padding: 5px 10px;
        text-align: left;
        line-height: 40px;
        vertical-align: middle;
        background-color: #F1F1F1;
        width: calc(100%); height: 50px;
        border-bottom: rgb(150, 195, 218) solid 2px;
}
.item:hover {
        background-color: #FaFaFa;
        
}

.item-container > div {
        height: auto; /* to be changed on hover */
        width: 0;
        transition: 0.2s;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
}

.finishBox {
        background-color: #90ee90;
}

.deleteBox {
        background-color: #FF5722;
}

.item-container:hover > div {
        width: 60px;
        
}
#item-add {
        text-align: center;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
}
#item-add:hover {
        background-color: rgb(225, 230, 238);
}
#list-add {
        text-align: center;
        vertical-align: middle;
        height: 40px;
        line-height: 40px;
}
#list-add:hover {
        background-color: #CFD8DC;;
}

.input {
        outline: none;
        border: none;
        height: 50px;
        font-size: 1rem;
        background-color: rgb(226, 232, 235);
        width: calc(100%);
        padding: 10px;
        border-bottom: #FF5722 solid 2px;
}
/* animation */

/* frames */